// Place all the styles related to the donations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
	display: flex;
	flex-direction: column;
}

input[type="text"] {
        width: 200px;
        height: 20px;
    }

#user_donation_prefecture {
        width: 100px;
        height: 20px;
    }
